/.vscode
*.o
*.hi
.stack-work/*
stack.yaml.lock
dist-newstyle/build/x86_64-windows/ghc-9.2.4/funk-0.1.0.0/x/funk/setup-config
dist-newstyle/build/x86_64-windows/ghc-9.2.4/funk-0.1.0.0/x/funk/build/funk/funk.exe
dist-newstyle/build/x86_64-windows/ghc-9.2.4/funk-0.1.0.0/x/funk/build/funk/autogen/cabal_macros.h
dist-newstyle/build/x86_64-windows/ghc-9.2.4/funk-0.1.0.0/x/funk/build/funk/autogen/PackageInfo_funk.hs
dist-newstyle/build/x86_64-windows/ghc-9.2.4/funk-0.1.0.0/x/funk/build/funk/autogen/Paths_funk.hs
dist-newstyle/build/x86_64-windows/ghc-9.2.4/funk-0.1.0.0/x/funk/cache/build
dist-newstyle/build/x86_64-windows/ghc-9.2.4/funk-0.1.0.0/x/funk/cache/config
dist-newstyle/build/x86_64-windows/ghc-9.2.4/funk-0.1.0.0/x/funk/cache/registration
dist-newstyle/build/x86_64-windows/ghc-9.2.4/funk-0.1.0.0/x/funk/package.conf.inplace/package.cache
dist-newstyle/build/x86_64-windows/ghc-9.2.4/funk-0.1.0.0/x/funk/package.conf.inplace/package.cache.lock
dist-newstyle/cache/compiler
dist-newstyle/cache/config
dist-newstyle/cache/elaborated-plan
dist-newstyle/cache/improved-plan
dist-newstyle/cache/plan.json
dist-newstyle/cache/solver-plan
dist-newstyle/cache/source-hashes
dist-newstyle/cache/up-to-date
dist-newstyle/packagedb/ghc-9.2.4/package.cache
dist-newstyle/packagedb/ghc-9.2.4/package.cache.lock
dist-newstyle/*